@import "../../../assets/styles/variables.scss";

.mat-toolbar {
  background-color: $yellow;
}

.mat-toolbar img {
  width: 105px;
  height: 42px;
  padding: 0.725rem;
  margin: auto;
}

.mat-toolbar img:hover {
  cursor: pointer;
  background-color: $red;
}
