<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar class="header-image" src="{{pokemonImg}}">
    <mat-card-title>{{pokemon.name}}</mat-card-title>
    <mat-card-subtitle>Nº {{pokemon.id}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="{{pokemonImg}}" alt="Pokemon Photo">

  <mat-card-content>
    <mat-card-content>
      <mat-chip-list aria-label="Fish selection">
        <!-- <mat-chip>One fish</mat-chip>
        <mat-chip>Two fish</mat-chip> -->
        <mat-chip color="primary" selected>Tipo: {{pokemonType}}</mat-chip>
        <mat-chip color="primary" selected>Altura: {{pokemon.height}}</mat-chip>
        <mat-chip color="primary" selected>Largura: {{pokemon.weight}}</mat-chip>
        <!-- <mat-chip color="accent" selected>Accent fish</mat-chip> -->
      </mat-chip-list>
    </mat-card-content>
  </mat-card-content>
</mat-card>
