<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar class="header-image" src="{{pokemonImg}}" alt="Foto em miniatura do Pokemon {{pokemon.name}} do tipo {{pokemonType}}">
    <mat-card-title>{{pokemon.name}}</mat-card-title>
    <mat-card-subtitle>Nº {{pokemon.id}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="{{pokemonImg}}" alt="Foto do Pokemon {{pokemon.name}} do tipo {{pokemonType}}">

  <mat-card-content>
    <mat-card-content>
      <mat-chip-list aria-label="Lista de Pokemons">

        <mat-chip color="primary" selected>Tipo: {{pokemonType}}</mat-chip>
        <mat-chip color="primary" selected>Altura: {{pokemon.height}}</mat-chip>
        <mat-chip color="primary" selected>Largura: {{pokemon.weight}}</mat-chip>

      </mat-chip-list>
    </mat-card-content>
  </mat-card-content>
</mat-card>
